.border-line {
  width: 15em;
  border-right: 1px solid;
  border-left: 1px solid;
  border-right-color:#D3D3D3;
  border-left-color:#D3D3D3;
  padding: 8px 12px;

}
.parent {
    display: flex;
}
.child1 {
    flex: 2;
}
.child2 {
    flex: 0.6;
}