awscli==1.22.43
botocore==1.23.43
cachelib==0.6.0
click==8.0.3
colorama==0.4.3
docutils==0.15.2
Flask==2.0.2
Flask-Session==0.4.0
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
migrate==0.3.7
MyApplication==0.1.0
pyasn1==0.4.8
python-dateutil==2.8.2
PyYAML==5.4.1
Question==0.1
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.31
urllib3==1.26.8
Werkzeug==2.0.2
