{% extends "base.html" %}
{% block content %}
<div class="parent">
    <div class="child2">
    </div>
    <div class="child1 border-line">
        <div class="container my-3">

            <form method="post" class="post-form">
                {{ form.csrf_token }}
                {% include "form_errors.html" %}
                <div class="form-group">
                    <label for="username">사용자 이름</label>
                    <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.data or '' }}" style="width:300px;">
                </div>
                <div class="form-group">
                    <label for="password1">비밀번호</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                           value="{{ form.password1.data or '' }}" style="width:300px;">
                </div>
                <div class="form-group">
                    <label for="password2">비밀번호 확인</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                           value="{{ form.password2.data or '' }}" style="width:300px;">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" name="email" id="email"
                           value="{{ form.email.data or '' }}" style="width:300px;">
                </div>



            <hr>


           <h1>이용약관</h1>
            <p>
                <h4>수집한 개인정보의 이용 </h4>
                회원 가입 의사의 확인, 연령 확인 및 법정대리인 동의 진행, 이용자 및 법정대리인의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다. <br>
                콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다.<br>
                법령 및 Synthetic Data Generator 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다.<br>
                <hr>
                <h4>개인정보의 파기</h4>

                회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.<br>
                단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다. <br>
                전자적 파일 형태의 경우 복구 및 재생이 되지 않도록 기술적인 방법을 이용하여 안전하게 삭제하며, 출력물 등은 분쇄하거나 소각하는 방식 등으로 파기합니다. <br>
                참고로 Synthetic Data Generator는 생성된 재현데이터 정보를 일주일 후 삭제하여 관리하고 있습니다. <br>
                                <hr>
                <h4>개인정보 수집 및 이용 동의</h4>
                이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다. <br>
                회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다. <br>

            </p>

              <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
            <label class="form-check-label" for="validationFormCheck1">동의합니다</label>
            <div class="invalid-feedback">동의하지 않으면 계정 생성이 어렵습니다.</div>
          </div>
                      <div class="col-12">
            <button class="btn" type="submit" style="background-color: #573D7C; color:white;">생성하기</button>
          </div>
            </form>




        </div>
    </div>
    <div class="child2">
    </div>
</div>





{% endblock %}