{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @keyframes blink-effect {
          50% {
            opacity: 0;
          }
        }

        @import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
            body        { font-family: 'NanumSquare', sans-serif; }
            .normal     { font-weight: 400 }
            .bold       { font-weight: 700 }
            .bolder     { font-weight: 800 }
            .light      { font-weight: 300 }

    </style>
</head>
<body style="background-color:#EBEBE8;">
<div class="container">
    <div style="display:block; padding-left:18%;">
        <table>
            <td border="1" class="bolder"> 데이터 정제 및 컬럼 선택</td>
            <td border="1">ꞏꞏꞏꞏꞏꞏꞏꞏꞏꞏ</td>
            <td border="1" class="bolder"> 재현데이터 생성</td>
            <td border="1">ꞏꞏꞏꞏꞏꞏꞏꞏꞏꞏ</td>
            <td border="1" class="bolder" style="color:#4ea656;"> 데이터시각화 및 회귀분석</td>
            <td border="1">ꞏꞏꞏꞏꞏꞏꞏꞏꞏꞏ</td>
            <td border="1" class="bolder" > 다운로드 및 내역저장</td>
        </table>
    </div>
</div>

<div class="parent">
    <div class="child2"></div>
    <div class="child1 border-line">
        <h1>correlation</h1>

        <div>
            origin
            <img src="{{  url_for('static', filename = origin_file) }}">
        </div>
        <hr>
        <div>
            synth
            <img src="{{  url_for('static', filename = synth_file) }}">
        </div>

        <hr>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" style="width:100%">
            <a href="{{ url_for('main.regression') }}" class="btn"
               style="background-color:#536955; color:white; width:250px; margin:5px;">회귀분석(베타) 하러가기</a>
            <a href="{{ url_for('main.render_file') }}" class="btn"
               style="background-color:#536955; color:white; width:250px; margin:5px;">돌아가기</a>
        </div>
    </div>
    <div class="child2"></div>
</div>
</body>
</html>

{% endblock %}