{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">
<style>
    * {
        font-family:'Oswald';
        background-color:#EBEBE8;
    }
    @font-face {
        font-family: 'BMDOHYEON';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald:wght@200&display=swap" rel="stylesheet">
<body>
<h1 class="font_0" style="font-size:65px; text-align:center; color:#808080; margin:0; padding-top:100px;">
    Synthetic Data Generator
</h1>
<h2 class="font_0" style="font-size:45px; text-align:center; color:#808080; margin:0; font-family: 'BMDOHYEON', sans-serif; padding-top:20px;
">
    재현데이터 생성 테스트베드 서비스
</h2>
<div class="outer" style="padding-top:50px;">
    <a href="/manual" class="btn hover1" aria-disabled="false" style="display:center; font-family: 'BMDOHYEON', sans-serif;">사용자 설명서</a>
</div>

</body>
</html>

{% endblock %}






