{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용 메뉴얼</title>
</head>
<body>
    <video class='vid' autoplay loop muted>
    <source src="{{url_for('static', filename='exam_video.mp4') }}" type="video/mp4">
    </video>
    <div class="container">
<style>
      .vid{
        width: 400px;
        position: absolute;
        left: 50%;
        margin-left: -200px;


    }

</style>

    <hr>
	<a href="{{ url_for('main.render_file') }}" class="btn btn-primary" >재현데이터 생성하러 가기</a>
</body>
</html>


{% endblock %}