{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div class="container">
  <table class="table table-primary">
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    {{titles[loop.index]}}
                    <td>
                    {{ table|safe }}
                        </td>
                    {% endfor %}

        </table>
		<hr>
		<table class="table table-primary">
                <!--Displaying the converted table-->
                     {% for table2 in tables2 %}
                    {{titles2[loop.index]}}
                    <td>
                    {{ table2|safe }}
                        </td>
                    {% endfor %}

        </table>
		</div>
	<a href="{{ url_for('main.distribution') }}" class="btn btn-primary" >다음</a>
</body>
</html>


{% endblock %}