{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Regression</h1>
<div>
    <img src="{{  url_for('static', filename = origin_file) }}">
</div>

<br>
<br>
<br>
<div>
    <img src="{{  url_for('static', filename = synth_file) }}">
</div>

<hr>

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" style="width:100%">
    <a href="{{ url_for('main.hello_pybo3') }}" class="btn"
       style="background-color:#536955; color:white; width:250px; margin:5px;">Download</a>
    <a href="{{ url_for('main.syn_store') }}" class="btn"
       style="background-color:#536955; color:white; width:250px; margin:5px;">재현데이터 생성 내역 저장(다운로드 먼저 해주세요)</a>
    <a href="{{ url_for('main.render_file') }}" class="btn"
       style="background-color:#536955; color:white; width:250px; margin:5px;">돌아가기</a>
</div>
</body>
</html>

{% endblock %}