{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
       <h1 style="margin-top: 30px;">Regression</h1>
<div style="text-align:center">
  <img src="{{  url_for('static', filename = origin_file) }}">
      </div>

      
      <div style="text-align:center">
  <img src="{{  url_for('static', filename = synth_file) }}">
      </div>



          <hr>


        <a href="{{ url_for('main.hello_pybo3') }}" class="btn btn-primary" >Download</a>
      <a href="{{ url_for('main.render_file') }}" class="btn btn-primary" >돌아가기</a>
   </body>
</html>

{% endblock %}