{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="parent">
    <div class="child1 border-line">
        <div class="container">
            <p> 업로드한 데이터의 속성값을 출력합니다.</p>
            <table class="table table-light">
                {% for item in df %}
                <td class="table-active">{{ item|safe }}</td>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="parent">
    <div class="child2"></div>
    <div class="child1">
        <a href="{{ url_for('main.synth_generate') }}" class="btn btn-secondary">다음</a>
    </div>
    <div class="child2"></div>
</div>
</body>
</html>


{% endblock %}