{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

	<div class="container">
		<p>현재 컬럼들</p>
       <p>{{df_col}}</p>
<form action="\to_json_part2" method="post" class="input-form">
<table>
	<h4> 삭제할 컬럼</h4>

	<tr>

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
 {% for key, value in count.items() %}

  <input type="checkbox" value = {{value}} name={{value}} class="btn-check" id={{key}} autocomplete="off">
  <label class="btn btn-outline-secondary" for={{key}}>{{value}}</label>

		{% endfor %}
</div>
	</tr>
	<hr>

</table>

	  <input type="submit" value="다음" class="btn btn-secondary">
</form>
</div>
</body>
</html>


{% endblock %}