{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div class="parent">
        <div class="child2">
        </div>
        <div class="child1 border-line" >
			<div class="container">
			   <p>{{df_col}}</p>
			<table border = '' class = "table">
					{% for item in df %}
				<tr>
						<option>{{item}}</option>
				</tr>
					{% endfor %}
			</table>
				</div>
			<a href="{{ url_for('main.synth_generate') }}" class="btn btn-primary" >다음</a>
		</div>
	</div>
</body>
</html>


{% endblock %}