{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="parent">
    <div class="child1 border-line">
        <div class="container">
            <p>현재 컬럼들</p>
			<table class="table table-light">
                {% for item in df_col %}
                <td class="table-active">{{ item|safe }}</td>
                {% endfor %}
            </table>
            <form action="\partsynth_generate" method="post" class="input-form">
                <table>
                    <h4> 변경할 컬럼</h4>
                    <tr>

                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            {% for key, value in count.items() %}

                            <input type="checkbox" value={{value}} name={{value}} class="btn-check" id={{key}}
                                   autocomplete="off">
                            <label class="btn btn-outline-primary" for={{key}}>{{value}}</label>

                            {% endfor %}
                        </div>
                    </tr>
                    <hr>

                </table>

                <input type="submit" value="다음" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>


{% endblock %}