{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    @font-face {
        font-family: 'BMDOHYEON';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .centered { display: table; margin-left: auto; margin-right: auto; }

</style>
<body>
<div class="parent">
    <div class="child2">
    </div>
    <div class="child1 border-line cen" style="padding-top:40px;">
        <div>
            <form action="/target_endpoint" method="POST" enctype="multipart/form-data">
                <div class="form-group files" style="text-align:center;">
                    <label>
                        <div class="centered">
                            <div class="item" style="font-family: 'BMDOHYEON', sans-serif; font-size:55px;">파일을 업로드하세요</div>
                        </div>
                    </label>
                    <input type="file" class="form-control" name="file" value="File">
                </div>
                <div>
                    <input class="btn" type="submit" value="Submit" style="background-color:#536955; color:white;">
                </div>
            </form>
        </div>
    </div>
    <div class="child2">
    </div>
</div>
</body>
</html>


{% endblock %}

