{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="parent">
        <div class="child2">
        </div>
        <div class="child1 border-line" >
            <form action = "http://localhost:5000/fileUpload" method ="POST" enctype="multipart/form-data">
                <input type="file" name = "file"/>
                <input type = "submit"/>
            </form>
        </div>
        <div class="child2">
        </div>
    </div>
</body>
</html>


{% endblock %}

